body{background-color: #f8fcfe;}
.box-filler{width: 100%;padding: 30px 0}
.bg-pcb-blue{background-color: #0384c8 !important;}
.text-pcb-blue{color:#0384c8;}
.text-right{text-align: right}
.hidden{display: none !important;}
.hover-pointer{cursor: pointer;border-bottom: 1px solid #F0F9FE;}

.product-options{
    background-color: transparent;
}

.product-options > div{
    background-color: transparent;
}

.assembly-footer-sections{
    background-color: #fff;
    padding-top: 20px;
}

.product-options section > h2, 
.assembly-footer-sections section > h2{
    color:#5c5859;
    padding: 10px 16px;
    margin: 0 20px 0 0;
    border: 1px solid #EEE;
    background-color: #F5F5F5;
    font-weight: normal;
}

.assembly-footer-sections section > h2{
    margin: 0;
}

.section-mark{
    color: #0080df;
    font-weight: 600;
    padding-right: 6px;
    vertical-align: middle;
}

.section-mark + span{
    margin-right: 20px;
    vertical-align: middle;
}

.product-option .option-group{
    margin-bottom: 10px;
    padding: 8px 0;
}

.product-option .option-group .option-group-desc{
    margin-top: 8px;
    font-weight: 400;
    display: none;
}

.product-option .option-group > input[type='text']{
    margin-right: 8px;
    width: 150px;
    display: none;
}

.product-option .option-group > select{
    margin-right: 16px;
    display: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #696969;
    background: url('/image/kp_productPcb/kp_arrow.png') no-repeat scroll right center transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 20px;
}

.product-option .option-group.selected > input[type='text'],
.product-option .option-group.selected > select{
    display: inline-block;
}

.product-option .option-group.selected .option-group-desc{
    display: block;
}

.product-option .option-group > .estimated-price{
    display: none;
}

.product-option .option-group.selected > .estimated-price{
    display: inline-block;
}

.product-option + .product-option{
    margin-top: 10px;
}
.product-option .option-name{
    padding: 8px 20px 8px 0;
    line-height: 23px;
    font-weight: bold;
    color: #696969;
    text-align: right;
    margin-top: 8px;
}
.product-option .option-name span[data-toggle]:hover{
    cursor: pointer;
}
.product-option .option.option-text,
.product-option .option-radio{
    margin-top: 8px;
}
.product-option .option.option-select,
.product-option .option.option-text,
.product-option .option-radio{
    padding: 8px 0;
}

.product-option .option-group-name{
    background-color: transparent;
    color: #696969;
    font-size: 13px;
    display: inline-block;
    padding: 0 7px;
    line-height: 23px;
    cursor: pointer;
    margin: 8px 8px 0 0;
    transition: all .2s;
    border: 1px solid #2196F3;
    position: relative;
    border-radius: 2px;
}
.product-option .option-group-name{
    color: #2196F3;
}
.product-option .option-select ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.product-option .option-select ul li {
    background-color: transparent;
    color: #696969;
    font-size: 13px;
    display: inline-block;
    padding: 0 7px;
    line-height: 23px;
    cursor: pointer;
    margin: 8px 8px 0 0;
    transition: all .2s;
    border: 1px solid #2196F3;
    position: relative;
    border-radius: 2px;
}
.product-option .option-select ul li.hidden{
    display: none;
}
.product-option .option ul li:hover,
.product-option .option ul.dropdown-menu > li:hover > a,
.product-option .option-group-name:hover{
    background-color: #2196F3;
    color: #FFF;
}
.product-option .option-select ul li.selected,
.product-option .option-group-name.selected{
    background-color: #2196F3;
    color: #fff;
}
.product-option .option-select ul li.selected:after,
.product-option .option-group-name.selected:after{
    position: absolute;
    bottom: 1px;
    right: 1px;
    content: "";
    border-top:2px solid transparent;
    border-left:2px solid transparent;
    border-right:2px solid #fff;
    border-bottom:2px solid #fff;
}
.product-option .option-select ul li.disabled{
    background-color: #EEE;
    border-color: #EEE;
    cursor: not-allowed;
}
.product-option .option-select ul li.disabled:hover {
    color: #696969;
}
.product-option .btn-upload{
    background-color: #2196F3;
    color:#fff;
    border-radius: 0;
    padding: 8px 20px;
    font-size: 18px;
}

.option input[type='text']{
    width: 80px;
    border-radius: 0;
    background-color: #FFF;
    box-shadow: none !important;
    /* color:#fff; */
    color: #696969;
    border: none;
    border-bottom: 1px solid #CCC;
    font-size: 13px;
    line-height: 19px;
    padding: 3px 8px;
    height: 25px;
    display: inline-block;
    transition-duration: .3s;
}

.option input[type='text']:focus {
    border-bottom: 1px solid #2196F3;
}

textarea.form-control{
    border: 1px solid #EEE;
    border-radius: 2px;
    border-radius: 0;
    color:#696969;
    display: inline-block;
    transition-duration: .3s;
}
textarea.form-control:focus {
    border: 1px solid #2196F3;
}

#product > .xl-70{
    background-color: #fff;
    margin:0;
}

#product > .xl-30{
    padding-top: 16px;
}

.assembly-header-banner{
    display: block;
    width: 100%;
    margin-bottom: 16px;
}

.assembly-footer-banner{
    display: block;
    width: 100%;
    padding-top: 14px;
    background-color: #fff;
}

.popover {
    position:absolute;
    top:0;
    left:0;
    z-index:1060;
    display:none;
    width:500px;
    max-width:500px;
    padding:1px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:1.42857143;
    text-align:left;
    white-space:normal;
    background-color:#fff;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    border:1px solid #ccc;
    border:1px solid rgba(0,0,0,.2);
    border-radius:6px;
    -webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);
    box-shadow:0 5px 10px rgba(0,0,0,.2)
}
.popover.top {
    margin-top:-10px
}
.popover.right {
    margin-left:10px
}
.popover.bottom {
    margin-top:10px
}
.popover.left {
    margin-left:-10px
}
.popover-title {
    padding:8px 14px;
    margin:0;
    font-size:14px;
    background-color:#f7f7f7;
    border-bottom:1px solid #ebebeb;
    border-radius:5px 5px 0 0
}
.popover-content {
    padding:9px 14px
}
.popover>.arrow,.popover>.arrow:after {
    position:absolute;
    display:block;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid
}
.popover>.arrow {
    border-width:11px
}
.popover>.arrow:after {
    content:"";
    border-width:10px
}
.popover.top>.arrow {
    bottom:-11px;
    left:50%;
    margin-left:-11px;
    border-top-color:#999;
    border-top-color:rgba(0,0,0,.25);
    border-bottom-width:0
}
.popover.top>.arrow:after {
    bottom:1px;
    margin-left:-10px;
    content:" ";
    border-top-color:#fff;
    border-bottom-width:0
}
.popover.right>.arrow {
    top:50%;
    left:-11px;
    margin-top:-11px;
    border-right-color:#999;
    border-right-color:rgba(0,0,0,.25);
    border-left-width:0
}
.popover.right>.arrow:after {
    bottom:-10px;
    left:1px;
    content:" ";
    border-right-color:#fff;
    border-left-width:0
}
.popover.bottom>.arrow {
    top:-11px;
    left:50%;
    margin-left:-11px;
    border-top-width:0;
    border-bottom-color:#999;
    border-bottom-color:rgba(0,0,0,.25)
}
.popover.bottom>.arrow:after {
    top:1px;
    margin-left:-10px;
    content:" ";
    border-top-width:0;
    border-bottom-color:#fff
}
.popover.left>.arrow {
    top:50%;
    right:-11px;
    margin-top:-11px;
    border-right-width:0;
    border-left-color:#999;
    border-left-color:rgba(0,0,0,.25)
}
.popover.left>.arrow:after {
    right:1px;
    bottom:-10px;
    content:" ";
    border-right-width:0;
    border-left-color:#fff
}
.popover .fa.fa-times{
    padding-left: 10px;
    float: right;
    cursor: pointer;
}
.section-project-files .project-files-row{
    margin-bottom: 30px;
}
button.btn-upload{
    background-color: #2196F3;
    color:#fff;
    border-radius: 0;
    padding: 8px 20px;
    font-size: 18px;
    vertical-align: middle;
    border:0;
}
.upload-file-info{
    vertical-align: middle;
    padding-left: 10px;
    width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    font-weight: 600;
}
.quote-panel {
    color: #fff;
    padding: 15px;
}
.quote-panel.sticky-right{
    position: absolute;
}

.quote-panel .quote-panel-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.quote-panel .section-quote {
    margin-bottom: 40px;
}

.quote-panel .section-quote .section-quote-mark{
    background-color: #fff;
    color: #2196F3;
    margin-right: 10px;
    padding: 0 4px;
}

.quote-panel .section-quote > h3 {
    border-bottom: 2px solid #fff;
}

.quote-panel .section-quote > h3 .section-sub-total {
    float: right;
}

.quote-panel .section-quote .detail-switch{
    padding: 2px 4px;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.section-quote .quote-list-items{
    margin-top: 10px;
}

.section-quote .quote-list-items > p{
    margin-bottom: 10px;
}

.section-quote .quote-list-items > p > span{
    float:right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 50%;
    text-align: right;
}

.section-quote .expedited-option{
    font-weight: normal;
    cursor: pointer;
}

.section-quote .expedited-option > input[type='radio']{
    vertical-align: top;
}

.section-quote .expedited-option .fa-question-circle,
.section-quote .mark-recommended{
    margin-left: 4px;
}

.section-quote .section-quote-tips{
    line-height: 24px;
    display: none;
}

.submit-btn-box {
    text-align: right;
}

.submit-btn-box .btn-submit-pcb {
    background-color: #fff;
    font-weight: 600;
    font-size: 22px;
    border: none;
    border-radius: 0;
    padding: 6px 10px;
    transition: all .2s;
    color: #0384c8;
    cursor: pointer;
}

.expression-row {
    background-color: #00adef;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.summary-tips-section {
    line-height: 24px;
    margin-bottom: 20px;
}

.alert.alert-danger{
    margin-right: 20px;
    background-color: #f2dede;
    padding: 6px 10px;
    color: #a94442;
    font-weight: 400;
}

.inquiry-result-mask{
    background-color: rgba(0,0,0,0.1);
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: none;
}

.inquiry-result-mask .inquiry-result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    z-index: 20;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
    border-radius: 8px;
    overflow: hidden;
    width: 600px;
    box-sizing: border-box;
    padding: 0 15px;
    box-shadow: 1px 1px 2px #696969;
}

.inquiry-result-mask.show{
    display: block;
}

.inquiry-result-mask.show .inquiry-result-box{
    animation: showResult 600ms ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation: showResult 600ms ease-out;
}

@keyframes showResult{
    from {opacity: 0; top: 40%}
    to {opacity: 1; top: 50%;}
}

@-webkit-keyframes showResult{
    from {opacity: 0; top: 40%}
    to {opacity: 1; top: 50%;}
}

.inquiry-result-box .inquiry-result-info{
    padding: 20px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.inquiry-result-box .inquiry-result-footer{
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #eee;
}

.inquiry-result-box .inquiry-result-footer .btn-close-box{
    background-color: #2196F3;
    color:#fff;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 600;
}

.inquiry-result-box .inquiry-result-footer .btn-close-box:active{
    background-color: #096BB6;
}

.product-option .option ul.dropdown-menu{
    overflow-y: auto;
    max-height: 140px;
}

